.alert-container {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 9999;
}

.me-auto {
    display: flex;
    justify-content: flex-end !important;
}

.card {
    padding: 0;
}

.products-container {
    margin-bottom: 60px;
    margin-top: 60px;
    gap: 30px;
    display: flex;
    justify-content: center;
}

html {
    height:100%;
  }
  
  body {
    margin:0;
  }
  
  .bg {
    animation:slide 3s ease-in-out infinite alternate;
    background-image: linear-gradient(-60deg, #6c3 50%, #09f 50%);
    bottom:0;
    left:-50%;
    opacity:.5;
    position:fixed;
    right:-50%;
    top:0;
    z-index:-1;
  }
  
  .bg2 {
    animation-direction:alternate-reverse;
    animation-duration:4s;
  }
  
  .bg3 {
    animation-duration:5s;
  }
  
  .content {
    background-color:rgba(255,255,255,.8);
    border-radius:.25em;
    box-shadow:0 0 .25em rgba(0,0,0,.25);
    box-sizing:border-box;
    left:50%;
    padding:10vmin;
    position:fixed;
    text-align:center;
    top:50%;
    transform:translate(-50%, -50%);
  }
  
  h1 {
    font-family:monospace;
  }
  
  @keyframes slide {
    0% {
      transform:translateX(-25%);
    }
    100% {
      transform:translateX(25%);
    }
  }

  @media (min-width: 992px) { 
.navbar-expand-lg .navbar-nav {
    flex-direction: row;
    display: flex;
    justify-content: right;
}
  }

 .px-lg-5 {
  padding: 0;
 }

 .nav-link {
 align-items: center;
 display: flex;
 justify-content: center;
 }

 .cart-badge {
  margin-left: 10px;
 }

 .sort-low {
  background-color: #4CAF50; 
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 8px;
}

.sort-high {
  background-color: #f44336; 
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 8px;
}

.button-sort {
  margin-left: 200px;
}

.low-button,
.high-button {
    cursor: pointer;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    margin: 5px;
    display: inline-block;
    text-align: center;
    text-decoration: none;
}

.low-button:hover,
.high-button:hover {
    background-color: #45a049;
}

.px-lg-5 {
  display: flex;
  justify-content: space-between;
}

